// Import core styles
@use '../../node_modules/@tweakpane/core/lib/sass/tp';

.tp-media-monitorv {
	display: flex;
	flex-direction: column;

	line-height: 0;

	&_media-container {
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 100%;

		overflow: hidden;
	}

	&_media {
		width: 100%;
		height: auto;

		pointer-events: none;

		&.fixed-height {
			position: absolute;
			inset: 0;

			height: 100%;
			width: 100%;

			object-fit: contain;
		}
	}

	&_label-container {
		padding: 5px;

		box-sizing: border-box;
		
		color: var(--in-fg);
		line-height: 1em;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}